/*global*/
body{
    align-items: center;
    font-family:"Arial", sans-serif;
    }
main{
    width: 60%; /* Or set a fixed width in pixels */
    margin: 0 auto;
}
img{
    max-width: 100%;
    padding-top: 10px;
    }
p{
    line-height: 2;
    }
a{
    color:white;
    background-color:black;
    text-decoration: none;
    padding:10px;
    display: inline-block;
}
/*utilities*/


/*header*/
header{
    color: white;
    text-align: center;
    height: 400px;
    background-image: url("img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    }

/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    display:flex;
    }