/*global*/
body{
    align-items: center;
    font-family:"Arial", sans-serif;
}
main{
    width: 60%; /* Or set a fixed width in pixels */
    margin: 0 auto;
}
img{
    max-width: 100%;
    padding-top: 10px;
}
p{
    line-height: 2;
}
header a{
    color: white;
    text-decoration: none;
    padding:10px;
}
main a,footer a{
    color:white;
    background-color:black;
    text-decoration: none;
    padding:10px;
    display: inline-block;
}
.main_flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#blog_posts{
    flex: 4;
    padding-right: 20px;
}
#courses{
    flex: 1;
}
#courses a,h2{
    font-size:medium;
}
/*utilities*/
hr{
    border: 1px solid lightgray;
    width:auto;
    margin: 10px 20% 10px 20%;
}
/*Contact*/
.contact_flex {
    display: flex;
    position: relative; /* Make the container the positioning context for the form */
    align-items: center; /* Align form vertically in the center */
}

.contact_flex img {
    width: 100%; /* Or set a specific width for the image */
    height: auto;  /* Maintain aspect ratio */
}

.contact_flex form {
    position: absolute; /* Position form relative to the container */
    top:25%;
    left: 25%;
    width: 40%;     /* Adjust to control form width */
    background-color: white; /* Semi-transparent white background */
    padding: 20px;
}
form label {
    display: block; /* Place labels above inputs */
    margin-top: 10px;
}
input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;  /* Include padding and border in element's total width */
}
textarea{
    height: 100px;
    width: 75%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;  /* Include padding and border in element's total width */
}
button {
    background-color:saddlebrown;
    color: white;
    padding: 10px 20px;
    border: none;
}
/*header*/
header{
    color: white;
    text-align: center;
    height: 400px;
    background-image: url("img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    display:grid;
}
#intro{
    place-items: center;
}
/*footer*/
footer{
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 75px;
}
.site_info{
    width:60%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:10px;
}
